@import "tailwindcss";

html {
  font-size: 24px !important;
}

@media (min-width: 640px) {
  html {
    font-size: 26px !important;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 28px !important;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 30px !important;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 32px !important;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 34px !important;
  }
}

body {
  line-height: 1.6;
}